# {{ ansible_managed }}

127.0.0.1 localhost
127.0.1.1 {{ ansible_host }} {{ ansible_hostname }}

# The following lines are desirable for IPv6 capable hosts

::1 localhost ip6-localhost ip6-loopback
f002::1 ip6-allnodes
f002::2 ip6-allrouters

{% for item in groups['all'] %}
{{hostvars[item].slave_iface_ip_addr}} {{ hostvars[item].inventory_hostname }} 
{% endfor %}